* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li a:hover {
    color: #777;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 157, 0);
    padding: 10px 40px;
}

.btn {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    background: rgb(255, 157, 0);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.circle {
    display: inline-block;
      background-color: #00d53b;
      margin: 10px;
      border-radius: 50%;
  }
  .circle-inner {
    color: white;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    height: 100px;
    width: 100px;  
    font-size: 30px;
  }