@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Franklin&family=Montserrat&family=Oswald&display=swap');

:root {
    /* Color Variables */
    --primary-color: #F28500;
    --hover-color: #ffad42;
    --disabled-color: #a4a4a4;
    --background-light: #f3f3f3;
    --background-hover: #ffad424a;
    --box-shadow-color: 0px 10px 40px -10px hsl(229, 6%, 66%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;

}

body {
    /* font-family: 'Poppins', sans-serif; */
    height: 100vh;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}

.btn {
    border: 1px solid var(--disabled-color);
    border-radius: 5px;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    margin: 10px 40px;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10%;
    text-align: center;
}


.card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10%;
    text-align: center;
}

.card {
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
    box-shadow: var(--box-shadow-color);
    padding: 30px;
    margin: 20px;
    text-align: center;
    height: 150px;
    width: 28%;
}

.card-title {
    font-size: 20px;
    padding: 10px 15px;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
    box-shadow: 0px 10px 40px -10px hsl(230, 6%, 80%);

}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: #F28500;
    padding: 10px 40px;
    text-decoration: none;
}

.logo:hover {
    color: var(--hover-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    box-shadow: var(--box-shadow-color);
}

table thead tr {
    background-color: #F28500;
    color: white;
    text-align: center;
}

table th,
table td {
    padding: 10px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}


table tbody tr:nth-of-type(even) {
    background-color: var(--background-light);
}

table tbody tr:hover {
    background-color: var(--background-hover);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover-color);
}

button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}



@media (max-width: 600px) {

    .btn {

        font-size: 12px;
        font-weight: 700;
        padding: 1.2em 3em;
        margin: 0px 20px;
    }

    .card {


        box-shadow: var(--box-shadow-color);
        padding: 15px;
        margin: 10px 0px;
        height: 10%;
        width: 100%;
    }

    .logo {
        font-size: 20px;
        font-weight: 600;
        color: #F28500;
        padding: 10px 10px;
    }


    .header {
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    .card-container {

        flex-direction: column;

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10%;
    text-align: center;
}

.card {
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
    box-shadow: 0px 10px 40px -10px hsl(229, 6%, 66%);
    padding: 30px;
    margin: 20px;
    text-align: center;
    height: 150px;
    width: 28%;
}

.card-title {
    font-size: 20px;
    padding: 10px 15px;

}

.card-body {
    padding: 10px 15px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #EFEFEF;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: #F28500;
    padding: 10px 40px;
}

.btn {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    background: #F28500;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em 3em;
    margin: 10px 40px;
}

@media (max-width: 600px) {

    .btn {

        font-size: 12px;
        font-weight: 700;
        padding: 1.2em 3em;
        margin: 0px 20px;
    }

    .card {


        box-shadow: 0px 10px 40px -10px hsl(229, 6%, 66%);
        padding: 15px;
        margin: 10px 0px;
        height: 10%;
        width: 100%;
    }

    .logo {
        font-size: 20px;
        font-weight: 600;
        color: #F28500;
        padding: 10px 10px;
    }


    .header {
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;

    }
}

  form {
    font-family: 'Libre Franklin', sans-serif;
  }

  
  form {
    margin: auto; 
    width: auto; 
    max-width: 800px;
    border: 2px solid white;
  }

  fieldset {
    display: flex; 
    padding: 100px;  
    padding-top: 40px;
    padding-bottom: 40px; 
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 157, 0); 
    width: 80%; 
    max-width: 750px; 
    margin: auto; 
    margin-top: 1%; 
    margin-bottom: 5%;
  }

 fieldset > legend {
    font-size: 1.5rem;
    padding: 10px; 

  }

  #employee-info > ul {
    width: 600px;

  }

  #employee-info > ul > li {
    width: 90%;
    margin: 20px;
    display: grid; 
    grid-template-columns: 1fr 2fr 

  }

  #employee-info > ul > li > label {
    font-size: 1rem;
    padding-right: 10px;
  }

  #employee-info > ul > li > input, select {
    font-size: 1rem;
    border: 2px solid #e0dfde;
    border-radius: 15px;
    width: auto; 
    height: 32px;
    padding: 0 10px; 
  }


 #addNew {
    align-self: center;
    background: #f47d68;
    border: 4px solid rgb(255, 157, 0);

 }


.signup {
    display: flex;
    height: 100%;
} 
 
.quote {
    width: 70%;
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;

}

.signupform {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

.innerquote {
    margin: auto;
    position: relative;
    top: -50px;
}

.signuptext {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    width: 200px;
    margin: 8px;
    height: 30px;
    
}

.thebuttons {
    align-self: center;
    margin: 20px;
    margin-bottom: 70px;
}